[core]
    excludesfile = ~/.gitignore_global
[user]
    name = Johannes Wienke
    email = languitar@semipol.de
[credential]
    helper = !pass-git-helper $@
[push]
    default = current
[color]
    ui = auto
[alias]
    ci = commit
    co = checkout
    mergef = merge --no-ff --no-commit
    stat = status
    cp = cherry-pick
    b = branch
    graph = log --pretty=format:'%C(auto)%h %cd (%G?) %C(green)[%an]%C(auto)%d%Creset %s' --date=short --graph --decorate --full-history --all
    pushf = push --force-with-lease
    conflicted = !vim +Conflicted
[rebase]
    autosquash = true
[credential]
#   helper = cache
[merge]
    tool = nvim
    conflictstyle = diff3
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[pull]
    ff = only
[include]
    path = .gitlocal
